@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    .flex-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        list-style: none;
    }

    .flex-item {
        padding: 5px;
        width: 300px;
        margin-top: 10px;
        font-size: 1em;
        text-align: center;
    }
</style>
<div class="text-center">
    <h1 class="display-4">Welcome to The Bleakwind Buffet</h1>
    <p>
        We at Bleakwind Buffet are proud to bring you authentic fantasy meals straight from the world of Skyrim.
        Shake the blood off your sword and sake your thirst with one of our old-fashioned sailor sodas. Hack into a Smokehouse Skeleton with your dagger.
        Or vanquish the the mighty Thalmor Triple Burger! You’ve had a hard adventure and earned your loot, so spend it with us!.
    </p>
    <h3>Combo: $1 discount</h3>
    <p>Any combination of a single drink, entree, and side </p>
</div>
<ul class="flex-container">
    <li class="flex-item">
        <form id="movie-database">

            <div id="search">
                <input type="text" name="SearchTerms" value="@Model.SearchTerms" />
                <input type="submit" value="Search">
            </div>

            <div id="filters">

                <h4>ItemType</h4>
                @foreach (String rating in BleakwindBuffet.Data.Menu.ItemType)
                {
                    <label>
                        <input type="checkbox" name="ItemType" value="@rating" checked="@Model.ItemType.Contains(rating)" />
                        @rating
                    </label>
                }

                <h4>Calories</h4>
                <div>
                    Between
                    <input name="CaloriesMin" type="number" min="0" max="1000" step="1" placeholder="min" />
                    and
                    <input name="CaloriesMax" type="number" min="0" max="1000" step="1" placeholder="max" />
                </div>
                <h4>Price</h4>
                <div>
                    Between
                    <input name="PriceMin" type="number" min="0" max="10" step="0.01" placeholder="min" />
                    and
                    <input name="PriceMax" type="number" min="0" max="10" step="0.01" placeholder="max" />
                </div>

            </div>

            <div id="results">
                <h1>Item Results</h1>
                @foreach (BleakwindBuffet.Data.IOrderItem movie in @Model.Items)
                {
                    <p class="font-weight-bold">@movie.ToString()  $@movie.Price</p>
                    <p> Calories @movie.Calories</p>
                    <p>@movie.Description</p>
                }
            </div>
        </form>
    </li>
    <li class="flex-item">
        <h2>Entrees</h2>
        @foreach (BleakwindBuffet.Data.IOrderItem movie in BleakwindBuffet.Data.Menu.Entrees())
        {
            <p class="font-weight-bold">@movie.ToString()  $@movie.Price</p>
            <p> Calories @movie.Calories</p>
            <p>@movie.Description</p>
        }
        <h2>Sides</h2>
        @foreach (BleakwindBuffet.Data.IOrderItem movie in BleakwindBuffet.Data.Menu.Sides())
        {
            <p class="font-weight-bold">@movie.ToString()  $@movie.Price</p>
            <p> Calories @movie.Calories</p>
             <p>@movie.Description</p>
        }
    </li>
    <li class="flex-item">
        <h2>Soda Flavors</h2>
         <p>Blackberry</p>
         <p>Cherry</p>
         <p>Grapefuit</p>
         <p>Lemon</p>
         <p>Peach</p>
         <p>Watermelon</p>
        <h2>Drinks</h2>
        @foreach (BleakwindBuffet.Data.IOrderItem movie in BleakwindBuffet.Data.Menu.Drinks())
        {
            <p class="font-weight-bold">@movie.ToString()  $@movie.Price</p>
            <p> Calories @movie.Calories</p>
            <p>@movie.Description</p>
        }
    </li>
</ul>
